.mod-mods .clear {
	font-size: 1px;
	height: 0;
	line-height: 0;
}
.mod-mods .rel { position: relative; }
.mod-mods .red { color: red; }

/* * * * Image Preview * * * * */
.mod-mods .tmb96 { width: 96px; height: 96px; }

.mod-mods .tmb96 img { max-width: 96px; max-height: 96px; }

.mod-mods .tmb { display: table; }
.mod-mods .tmb .tmbpre {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.mod-mods .tmb .tmbpre img {
	margin: 0 auto !important;
}

.mod-mods .moditem .micon {
	float: left;
	margin: 10px 20px 0 10px;
}
.mod-mods .moditem .micon .tmb {
	border: 1px solid #DEE2E3;
}
.mod-mods .moditem .feature,
.mod-mods .moditem .feature a {
	color: #777777;
}
.mod-mods .moditem .feature dl,
.mod-mods .moditem .feature dt,
.mod-mods .moditem .feature dd {
	float: left;
}
.mod-mods .moditem .feature dl,
.mod-mods .moditem .feature dt {
	margin-right: 5px;
}

.mod-mods .moditem .feature a {
	
}
.mod-mods .moditem .feature .download {
	margin: 10px 0;
}

.mod-mods .moditem .feature .download a {
	text-decoration: none;
	display: block;
	background: linear-gradient(#9399B4, #7B83A3) repeat scroll 0 0 #489615;
	border-radius: 5px;
	padding: 3px 10px 4px;
	color: #fff;
}
.mod-mods .moditem .feature .download a:HOVER {
	background-color: #5784bf;
}
.mod-mods .moditem .feature .sep {
	float: left;
	margin-right: 5px;
}
.mod-mods .moditem .info .opt-desc {
	padding-top: 10px;
}

.mod-mods .modlist,
.mod-mods .modview {
	min-height: 600px;
}


/* * * * Список модулей * * * */
.mod-mods .modlist .moditem {
	border-bottom: 1px solid #DEE2E3;
	margin: 0 0 5px 0;
	padding-bottom: 15px;
}
.mod-mods .modlist .more {
	text-align: right;
}

/* * * * Просмотр модуля * * * */
.mod-mods .modview .moditem {
	margin-bottom: 15px;
}

/* * * * Screens * * * */
.mod-mods .modview .screens .screen {
	float: left;
	margin: 0 9px 10px 0;
	border: 1px solid #DADADA;
	width: 200px;
	height: 200px;
	overflow: hidden;
}

/* * * * Changelog * * * */
.mod-mods .modview .changelogs dl.changelog {
	margin-bottom: 10px;
	background-color: #E7E8EE;
	display: block;
	padding: 10px 10px 15px 10px;
	min-height: 42px;
}
.mod-mods .modview .changelogs dl.changelog dt {
	float: left;
	clear: left;
	width: 150px;
}
.mod-mods .modview .changelogs dl.changelog dd {
	float: none;
	margin-left: 165px;
}

.mod-mods .modview .changelogs span.version,
.mod-mods .modview .changelogs span.date {
	display: block;
	text-align: center;
}
.mod-mods .modview .changelogs span.version {
	font-size: 16px;
}


/* * * * TabView * * * * */
.mod-mods .yui-navset .yui-content {
	background: none !important;
	border: none !important;
	padding: 10px 0 0 0 !important;
}
.mod-mods .yui-navset .yui-nav {
	border: none !important;
}

.mod-mods .yui-navset .yui-nav .selected, 
.mod-mods .yui-navset .yui-navset-top .yui-nav .selected {
	margin: 0 2px 0 0 !important;
}
.mod-mods .yui-navset .yui-nav .selected a, 
.mod-mods .yui-navset .yui-nav .selected a em {
    border-color: #6A7398 !important;
    background: none !important;
}
.mod-mods .yui-navset .yui-nav .selected a, 
/*.mod-mods .yui-navset .yui-nav .selected a:focus, /**/
.mod-mods .yui-navset .yui-nav .selected a:hover {
    background: none !important;
    border-width: 1px !important;
}
.mod-mods .yui-navset .yui-nav li, 
.mod-mods .yui-navset .yui-navset-top .yui-nav li {
	padding: 0 !important;
}
.mod-mods .yui-navset .yui-nav a, 
.mod-mods .yui-navset .yui-navset-top .yui-nav a {
    background: none !important;
    color: #191B24 !important;
    border-width: 1px !important;
    
}
.mod-mods .yui-navset .yui-nav a em, 
.mod-mods .yui-navset .yui-navset-top .yui-nav a em {
    border: none !important;
    border-width: 0 !important;
    padding: 5px 10px !important;
    top: 0 !important;
}

.mod-mods .yui-navset .yui-nav a, 
.mod-mods .yui-navset .yui-navset-top .yui-nav a {
    border-color: #6A7398 !important;
}
.mod-mods .yui-navset .yui-nav a {
	border-radius: 5px !important;
} 

.mod-mods .yui-navset .yui-nav .selected a,
.mod-mods .yui-navset .yui-nav .selected a:hover,
.mod-mods .yui-navset .yui-nav a:focus,
.mod-mods .yui-navset .yui-nav a:hover {
	background-color: #E7E8EE !important;
}